.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.modal.center {
  align-items: center;
  justify-content: center;
}

.modal.right {
  align-items: center;
  justify-content: flex-end;
}

.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.modal.exit {
  opacity: 0;
}

.modal-content {
  background-color: var(--bg-color-secondary);
  transition: all 0.3s ease-in-out;
  transform: translateY(-200px);
  padding: 15px;
}

.modal.center .modal-content {
  border-radius: 15px;
  width: 600px;
  max-width: 100%;
}

.modal.right .modal-content {
  height: 100%;
  width: 400px;
  max-width: 400px;
}

.modal.enter-done .modal-content {
  transform: translateY(0);
}

.modal.exit .modal-content {
  transform: translateY(-200px);
}

.modal-title {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-body {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
