.header {
  padding:  16px 24px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  color: #fff;
}

.user-info,
.user-options {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-options {
  margin-left: auto;
}

.toggle-theme {
  margin-right: 15px;
}

.icon-toggle {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}